{% extends "./adminLayout.twig" %}
{% block title %}{{title}}{% endblock title %}

{% block body %}

<!-- breadcrumb start -->
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add-Classified</li>
                </ol>
                </nav>
                   
                 
            <!-- breadcrumb end -->
    
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <!-- card start -->
                                <div class="card">
                                <h5 class="card-header">Add New Classified</h5>
                                <div class="card-body">
                                       
                                       
                                </div>
                                </div>
                            <!-- card end -->    
                        </div>
                    </div>
                </div>


{% endblock body %}                