{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}
{% block head%}
<link rel="stylesheet" href="css/custom_home.css">
<script src="js/particle.js"></script>
{% endblock head%}

{% block body %}
<!-- canvas start -->
<canvas id="my_canvas" style="background-color: rgb(67, 3, 243);"></canvas>

<!-- nav bar start -->
<nav id="customNav" class="navbar fixed-top navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/demo.png" width="30" height="30" alt="logo">
        Classified
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fas fa-search"></i> Search</a>
                  </li>
                  {% if user %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> User</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/u/dashboard"><i class="fas fa-th-large"></i> Dashboard</a>
                          <a class="dropdown-item" href="/u/signout"><i class="fas fa-power-off"></i> SignOut</a>
                    </div>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/u"><i class="fas fa-lock"></i> Sign In</a>
                  </li>
                  {% endif %}
          </ul>
      
    </div>
</nav>
<!-- nav bar end -->
<div class="contanier-fluid">

    <div class="d-flex flex-column p-1 mt-2 mb-5">
        <h3 class="text-center">Search By Category</h3>
        <div id="category-box" class="d-flex flex-wrap justify-content-center">
           
           <!-- category 1 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Automobiles</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Auto Dealers <span class="badge badge-light float-right">55</span></li>
                    <li>Auto Insurance <span class="badge badge-light float-right">20</span></li>
                    <li>Motorcycles <span class="badge badge-light float-right">110</span></li>
                    <li>SUVs & Trucks <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>
           
            <!-- category 2 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Business</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Advertising Service <span class="badge badge-light float-right">55</span></li>
                    <li>Home Business <span class="badge badge-light float-right">20</span></li>
                    <li>Investment <span class="badge badge-light float-right">110</span></li>
                    <li>Marketing & Sales <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

           <!-- category 3 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Communities</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Activities <span class="badge badge-light float-right">55</span></li>
                    <li>Child Care <span class="badge badge-light float-right">20</span></li>
                    <li>Education <span class="badge badge-light float-right">110</span></li>
                    <li>Free Stuff <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

            <!-- category 4 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Computer</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Desktops <span class="badge badge-light float-right">55</span></li>
                    <li>Hardware <span class="badge badge-light float-right">20</span></li>
                    <li>Laptops <span class="badge badge-light float-right">110</span></li>
                    <li>Software <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

            <!-- category 5 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Health & Beauty</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Beauty <span class="badge badge-light float-right">55</span></li>
                    <li>Fitness <span class="badge badge-light float-right">20</span></li>
                    <li>Health Insurance <span class="badge badge-light float-right">110</span></li>
                    <li>Health Services <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>
             
            <!-- category 6 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Internet Services</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Chat & Forums <span class="badge badge-light float-right">55</span></li>
                    <li>Domain Name <span class="badge badge-light float-right">20</span></li>
                    <li>Email <span class="badge badge-light float-right">110</span></li>
                    <li>Web Hosting <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

            <!-- category 7 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Jobs</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Contracts <span class="badge badge-light float-right">55</span></li>
                    <li>Full Time Jobs <span class="badge badge-light float-right">20</span></li>
                    <li>Help Wanted <span class="badge badge-light float-right">110</span></li>
                    <li>Jobs Wanted <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

           <!-- category 8 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Personals</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Announcements <span class="badge badge-light float-right">55</span></li>
                    <li>Dating Services <span class="badge badge-light float-right">20</span></li>
                    <li>Massage Services <span class="badge badge-light float-right">110</span></li>
                    <li>Personal Products <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

            <!-- category 9 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Real Estate</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Apartments <span class="badge badge-light float-right">55</span></li>
                    <li>Commercial Properties <span class="badge badge-light float-right">20</span></li>
                    <li>Houses for Rent <span class="badge badge-light float-right">110</span></li>
                    <li>Home Improvements <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

            <!-- category 10 --> 
           <div class="category m-2 px-4 py-2" style="width: 16rem">
                <div class="image">
                  <img src="/img/100x100.jpg" style="width: 50px; height: 50px;" class="rounded-circle d-block mx-auto" alt="img">
                </div>
                <div class="title mb-4">
                   <h5 class="text-center">Shopping</h5>
                </div>
                <ul class="list-unstyled">
                    <li>Antiques <span class="badge badge-light float-right">55</span></li>
                    <li>Auctions <span class="badge badge-light float-right">20</span></li>
                    <li>Books <span class="badge badge-light float-right">110</span></li>
                    <li>Camera & Photo <span class="badge badge-light float-right">5</span></li>
                </ul>
            </div>

        </div>
    </div>

<!-- footer start -->
<footer class="row bg-dark">
  <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <div class="row">
      <div class="col-sm-4">
          <div class="p-2">
                <h5 class="text-light">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>About us</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Terms and Conditions</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Privacy Policy</a></li>
                </ul>
          </div>    
      </div>
      <div class="col-sm-4">
            <div class="p-2">
                    <h5 class="text-light">Follow us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-light"><i class="fab fa-facebook-square fa-2x pr-1"></i></a>
                            <a href="#" class="text-light"><i class="fab fa-twitter-square fa-2x pr-1"></i></a>
                            <a href="#" class="text-light"><i class="fab fa-google-plus-square fa-2x pr-1"></i></a>
                        </li>
                    </ul>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="p-2">
                    <h5 class="text-light">Location</h5>
                    
                    
            </div>
      </div>
    </div>
  </div>
</footer>

<!--     copyright     -->
<div class="row bg-darkgreen">
    <div class="col-sm-12">
    <p class="text-sm-center text-light m-0">All Rights Reserved <i class="fas fa-copyright"></i> 2019 Classified</p>
    </div>
</div>
<!--    copyright end   -->


</div>

{% endblock body %}