{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}
{% block head%}
<link rel="stylesheet" href="css/custom_home.css">
{% endblock head%}

{% block body %}
<!-- Header Section -->
<div class="d-flex flex-column flex-md-row align-items-md-center bg-whitesmoke p-2">
        <div class="brand pl-2 align-self-center "><a href="/">
        <img src="/demo.png" width="40" height="40" alt="logo">
        <h2 class="pl-1">Classified</h2>
        </a></div>
    
        <div class="d-flex align-items-center ml-md-auto">
            <p id="post_add" class="font-weight-bold mb-0 mr-5"><a href="/u/add">POST YOUR AD</a></p>
            <p id="login_btn" class="mb-0 ml-auto">
                    {% if user %}
                    <div class="dropdown">
                    <a class="font-weight-bold dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i> USER
                    </a>
                          
                         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-limegreen" href="/u/dashboard"><i class="fas fa-th-large fa-fw"></i> Dashboard</a>
                            <a class="dropdown-item text-limegreen" href="/u/signout"><i class="fas fa-power-off fa-fw"></i> Signout</a>
                          </div>
                    </div>
                    {% else %}
                    <a class="signin font-weight-bold" href="/u/signin">SIGN IN</a>
                    <a class="signup font-weight-bold" href="/u/signup"> /SIGN UP</a>
                    {% endif %}
            </p>
        </div>
    </div>
<!-- Header Section end -->
<!-- content section start -->
<div class="container-fluid">
    <div class="row my-2">
        <!-- CATEGORIES BLOCK -->
        <div class="col-md-3 col-lg-2 d-none d-md-block">
            <div id="left-side-bar">
                    <h5 class="font-weight-normal text-limegreen border-bottom border-limegreen pb-2 mb-2">CATEGORIES</h5>
                    <ul class="list-unstyled" id="cat-list">
                        
                        <!-- Category accordion 01-->
                        <!-- <div class="main-category">
                        <li class="bg-whitesmoke d-flex align-items-center mb-1"><span class="pl-2">Automobiles & Vehicles</span><i class="fas fa-angle-right fa-2x bg-lightgray px-2 ml-auto"></i></li>
                        </div>
                        <div class="sub-category collapse">
                                <li class="bg-whitesmoke d-flex align-items-center mb-1"><i class="fas fa-dot-circle fa-xs ml-2"></i><span class="pl-1" data-subcategory="auto dealer">Auto Dealers</span></li>
                        </div> -->
                    </ul>
            </div>
        </div>

        <!-- MIDDLE BLOCK-->
        <div class="col-sm-12 col-md-9 col-lg-8">
            <div id="main-box">
                    <!-- Page Limit & Sort div -->
                    <div class="search bg-whitesmoke p-1 px-sm-2">
                            
                                <form class="form-inline">
                                 <div class="form-group">
                                    <label>Show</label>
                                    <select class="form-control form-control-sm mx-sm-1" id="page-limit">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                    <label> entries</label>
                                 </div> 
                                 <div class="form-group ml-auto">
                                    <label>Short</label>
                                    <select class="form-control form-control-sm mx-sm-1" id="sort-by">
                                        <option value="title">Title</option>
                                        <option value="website">Website</option>
                                        <option value="date">Date</option>
                                    </select>
                                </div> 
                                </form>
                            
                            
                    </div>
                    <div class="list">
                        <div class="d-flex flex-column border my-2">
                            <div class="img_title d-flex p-1">
                                <div class="image" style="width: 200px;">
                                    <img src="/img/default.jpg" class="img-fluid img-thumbnail" alt="">
                                </div>
                                <div class="title p-2">
                                    <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                    <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                    <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                    <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                </div>  
                            </div>
                            <div class="description px-2">
                                <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                            </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title px-1">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title p-2">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title p-2">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title p-2">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title p-2">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                        <div class="d-flex flex-column border my-2">
                                <div class="img_title d-flex p-1">
                                    <div class="image" style="width: 200px;">
                                        <img src="/img/200x165.jpg" class="img-fluid img-thumbnail" alt="">
                                    </div>
                                    <div class="title p-2">
                                        <p class="font-weight-bold text-limegreen mb-2">Lorem ipsum dolor sit amet consectetur.</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-envelope text-limegreen mr-2"></i>example@gmail.com</p>
                                        <p class="mb-0 mb-md-1"><i class="fas fa-globe text-limegreen mr-2"></i>www.example.com</p>
                                        <p class="mb-0"><i class="fas fa-phone text-limegreen mr-2"></i>9876543210</p>
                                    </div>  
                                </div>
                                <div class="description px-2">
                                    <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo porro molestiae error vitae alias totam adipisci commodi quaerat. </p>
                                    <p class="mb-1"><i class="fas fa-map-marker-alt text-limegreen mr-2"></i>Bokaro <i class="fas fa-th-large text-limegreen ml-5 mr-2"></i>Computers</p>
                                </div>
                        </div>

                    </div>
                    <!-- Pagination div -->
                    <div id="pagination_list">
                        
                    </div>
            </div>
        </div>

        <!-- CITY BLOCK -->
        <div class="col-lg-2 d-none d-lg-block">
                <div id="right-side-bar">
                        <h5 class="font-weight-normal text-limegreen border-bottom border-limegreen pb-2 mb-2">CITIES</h5>
                        <ul class="list-unstyled" id="citylist">
                            <!-- City accordion 01 -->
                            <!-- <div class="main-city">
                                    <li class="bg-whitesmoke d-flex align-items-center mb-1"><span class="pl-2">Bokaro</span><i class="fas fa-angle-right fa-2x bg-lightgray px-2 ml-auto"></i></li>    
                            </div>
                            <div class="sub-city collapse">
                                    <li class="bg-whitesmoke d-flex align-items-center mb-1"><i class="fas fa-dot-circle fa-xs ml-2"></i><span class="pl-1" data-subcity="chandrapura">Chandrapura</span></li>         
                            </div> -->
                        </ul>
                    </div>
        </div>
    </div>
</div>


<!-- footer section start -->
<div class="container-fluid">
        <footer class="row bg-dark">
            <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
              <div class="row">
                <div class="col-sm-4">
                    <div class="p-2">
                          <h4 class="text-light font-weight-normal">Company</h4>
                          <ul class="list-unstyled">
                              <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Contact us</a></li>
                              <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>About us</a></li>
                              <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Blogs</a></li>
                              <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Terms and Conditions</a></li>
                              <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Privacy Policy</a></li>
                          </ul>
                    </div>    
                </div>
                <div class="col-sm-4">
                      <div class="p-2">
                              <h4 class="text-light font-weight-normal">Follow us</h4>
                              <ul class="list-unstyled">
                                  <li>
                                      <a href="#" class="text-light"><i class="fab fa-facebook-square fa-2x pr-1"></i></a>
                                      <a href="#" class="text-light"><i class="fab fa-twitter-square fa-2x pr-1"></i></a>
                                      <a href="#" class="text-light"><i class="fab fa-google-plus-square fa-2x pr-1"></i></a>
                                  </li>
                              </ul>
                      </div>
                </div>
                <div class="col-sm-4">
                      <div class="p-2">
                              <h4 class="text-light font-weight-normal">Location</h4>
                              
                              
                      </div>
                </div>
              </div>
            </div>
          </footer>
          
          <!--     copyright     -->
          <div class="row bg-limegreen">
              <div class="col-sm-12">
              <p class="text-sm-center text-light m-0">All Rights Reserved <i class="fas fa-copyright"></i> 2019 Classified</p>
              </div>
          </div>
          <!--    copyright end   -->
          
</div>
{% endblock body %}
{% block script %}
<script src="js/ajaxpagination.js"></script>
{% endblock script %}
