{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}
{% block head%}
<link rel="stylesheet" href="css/custom.css">
{% endblock head%}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: darkgreen">
        <a class="navbar-brand" href="/">myBrand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="/"><i class="fas fa-home"></i> Home</a>
                      </li>
                      {% if user %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> User</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/u/dashboard"><i class="fas fa-th-large"></i> Dashboard</a>
                              <a class="dropdown-item" href="/u/signout"><i class="fas fa-power-off"></i> SignOut</a>
                        </div>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#"><i class="fas fa-user"></i> User</a>
                      </li>
                      {% endif %}
              </ul>
          
        </div>
</nav>
<!-- nav bar end -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-4 bg-dark">
                    <h3>category</h3>
                </div>
                <div class="col-md-8">
                    <h1>classified</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}