/* category style */
.category{
    box-shadow: 0px 6px 20px #e6e6ff;
}
.category > div.title{
     border-bottom: 2px solid #e9ecef;
}
 .category > ul li{
     padding: 2px;
 }

 .category > ul li:not(:last-child){
     border-bottom: 1px solid #e9ecef;
 }

 /* head style */
 .brand > a{
    text-decoration: none;
    color: limegreen;
    display: flex;
    align-items: center;
}
#post_add{
    padding: 3px 10px;
    border: 2px solid limegreen;
}
#post_add > a{
    text-decoration: none;
    color: limegreen;
}
#login_btn > a.signin{
    text-decoration: none;
    color: black;
}
#login_btn > a.signup{
    text-decoration: none;
    color: limegreen;
}

/* border color */
.border-limegreen{
    border-color: limegreen;
}


/* main category li */
div.main-category > li{
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* sub category li */
div.sub-category > li{
    cursor: pointer;
}
/* sub category li hover */
div.sub-category > li:hover{
    background-color: lightgray;
}

/* main city li */
div.main-city > li{
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* sub city li */
div.sub-city > li{
    cursor: pointer;
}
/* sub city li hover */
div.sub-city > li:hover{
    background-color: lightgray;
}

div#pagination_list{
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}