/* background colors*/
.bg-limegreen{
    background-color: limegreen;
}
.bg-darkgreen{
    background-color: darkgreen;
}
.bg-lightgreen{
    background-color: lightgreen;
}
.bg-darkseagreen{
    background-color: darkseagreen;
}
.bg-whitesmoke{
    background-color: #f5f5f5;
}
.bg-gray{
    background-color: gray;
}
.bg-lightgray{
    background-color: #c7c7c7;
}

/* text color */
.text-limegreen{
   color: limegreen;
}

/* custom nav style */
#customNav{
    background-color: rgba(0, 100, 0, 1);
}    
#customNav:hover{
    background-color: rgba(0, 100, 0, 1);
}
