/*  user style */
/* all a tag */
a{
  text-decoration: none !important;
}

.brand > a{
    text-decoration: none;
    color: limegreen;
    display: flex;
    align-items: center;
}
#post_add{
    padding: 3px 10px;
    border: 2px solid limegreen;
}
#post_add > a{
    text-decoration: none;
    color: limegreen;
}
#login_btn > a.signin{
    text-decoration: none;
    color: black;
}
#login_btn > a.signup{
    text-decoration: none;
    color: limegreen;
}