{% extends "./layout.twig" %}
{% block title %} {{ title }} {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <br class="d-none d-md-block">
                <br>
                <br>

                <!-- Jumbotron -->
                <div class="jumbotron">
                  
                    <div class="row">
                      <div class="col-md-8 offset-md-2">
                            <h1 class="mx-auto text-center"><i class="fas fa-paper-plane"></i>&nbsp; Confirmation Email</h1> 
                            <br>
                            <form action="/u/confirm" method="post">
                              <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="text" class="form-control" name="username" id="email" placeholder="example@gmail.com" required>
                              </div>
                              <button type="submit" class="btn bg-limegreen text-light btn-block">Send Confirmation</button>
                            </form>
                            <p>Need an account? <a href="/u/signup">Sign-Up</a></p>
                            <p>or go <a href="/">home</a></p>
                      </div>
                    </div>
                  
                </div>
                <br>
                <br>
        </div>
    </div>
</div>
{% endblock body %}