{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <br class="d-none d-md-block">
                <br>
                <br>

                <!-- Jumbotron -->
                <div class="jumbotron">
                  
                    <div class="row">
                      <div class="col-md-8 offset-md-2">
                            <h1 class="mx-auto text-center"><i class="fa fa-undo"></i>&nbsp; Reset Password</h1>
                            <br> 
                            <h4 class="text-primary">Forgot your password?</h4>
                            <p><i class="fa fa-info text-danger"></i>&nbsp; Enter your email address and we will send you instructions on how to reset your password.</p>
                            <form action="/u/reset" method="post">
                              <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="text" class="form-control" name="username" id="email" placeholder="example@gmail.com" required>
                              </div>
                              <button type="submit" class="btn btn-warning btn-block">Reset Password</button>
                            </form>
                            <p>Need an account? <a href="/u/signup">Sign-Up</a></p>
                            <p>or go <a href="/">home</a></p>
                      </div>
                    </div>
                  
                </div>
        </div>
    </div>
</div>
{% endblock body %}