{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}
{% block head%}
<link rel="stylesheet" href="css/custom_user.css">
{% endblock head%}

{% block body %}
<!-- Header Section -->
<div id="user-nav" class="d-flex flex-column flex-md-row align-items-md-center bg-whitesmoke p-2">
  <div class="brand pl-2 align-self-center "><a href="/">
  <img src="/demo.png" width="40" height="40" alt="logo">
  <h2 class="pl-1">Classified</h2>
  </a></div>

  <div class="d-flex align-items-center ml-md-auto">
      <p id="login_btn" class="mb-0 ml-auto"><a class="signup font-weight-bold" href="/u/signout"><i class="fas fa-power-off mr-1"></i>SIGNOUT</a></p>
  </div>
</div>
<!-- Header Section end -->

<!-- main content box -->
<div class="main-box d-flex">
    <!-- side menu bar -->
    <div class="side-menu-bar bg-dark">
        <div class="m-2">
            <h5 class="text-light text-center">DASHBOARD</h5>
            <hr class="hr-light">
            <ul class="list-unstyled">
                <li class="py-2"><a class="text-light" href="/u/dashboard"><i class="fas fa-th-list fa-fw mr-3"></i>View Classified</a></li>
                <li class="py-2"><a class="text-light" href="/u/add"><i class="fas fa-plus fa-fw mr-3"></i>Add Classified</a></li>
                <li class="py-2"><a class="text-light" href="/u/setting"><i class="fas fa-cog fa-fw mr-3"></i>Setting</a></li>
            </ul>
        </div>
    </div>
    <!-- content box-->
    <div class="content-box w-100">
        <!-- breadcrumb start -->
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/u/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload Image</li>
            </ol>
            </nav>
               
             
        <!-- breadcrumb end -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <!-- card start -->
                            <div class="card" style="margin-bottom: 200px;">
                            <h5 class="card-header">Upload Image</h5>
                            <div class="card-body">
                                   
                                    <form action="/u/image" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="image">Choose a image for your classified</label>
                                        {% if errors %}
                                        <input type="file" class="form-control-file is-invalid" id="image" aria-describedby="fileHelp" name="image">
                                        <div class="invalid-feedback">
                                        {{ "Image size should not exceed 50 kb." }}
                                        </div>
                                        {% else %}
                                        <input type="file" class="form-control-file" id="image" aria-describedby="fileHelp" name="image">
                                        <small id="fileHelp" class="form-text text-muted">Image size should not exceed 50 kb and dimensions 200x165.</small>
                                        {% endif %}
                                    </div>
            
                                        <input type="hidden" name="classifiedid" value="{{ classifiedid }}">
                                    <button type="submit" class="btn bg-limegreen text-light">Upload Image</button>
                                    </form>
                            </div>
                            </div>
                        <!-- card end -->    
                    </div>
                </div>
            </div>
  
            <!-- footer section start -->
            <div class="container-fluid">
              <footer class="row bg-dark">
                  <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                    <div class="row">
                      <div class="col-sm-4">
                          <div class="p-2">
                                <h4 class="text-light font-weight-normal">Company</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Contact us</a></li>
                                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>About us</a></li>
                                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Blogs</a></li>
                                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Terms and Conditions</a></li>
                                    <li><a href="#" class="text-light"><i class="fas fa-angle-right pr-1"></i>Privacy Policy</a></li>
                                </ul>
                          </div>    
                      </div>
                      <div class="col-sm-4">
                            <div class="p-2">
                                    <h4 class="text-light font-weight-normal">Follow us</h4>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" class="text-light"><i class="fab fa-facebook-square fa-2x pr-1"></i></a>
                                            <a href="#" class="text-light"><i class="fab fa-twitter-square fa-2x pr-1"></i></a>
                                            <a href="#" class="text-light"><i class="fab fa-google-plus-square fa-2x pr-1"></i></a>
                                        </li>
                                    </ul>
                            </div>
                      </div>
                      <div class="col-sm-4">
                            <div class="p-2">
                                    <h4 class="text-light font-weight-normal">Location</h4>
                                    
                                    
                            </div>
                      </div>
                    </div>
                  </div>
                </footer>
                
                <!--     copyright     -->
                <div class="row bg-limegreen">
                    <div class="col-sm-12">
                    <p class="text-sm-center text-light m-0">All Rights Reserved <i class="fas fa-copyright"></i> 2019 Classified</p>
                    </div>
                </div>
                <!--    copyright end   -->
                
            </div>
            <!-- footer section end -->
    </div>
</div>







{% endblock body %}
{% block script %}
<script src="js/custom_user.js"></script>
{% endblock script %}