{% extends "./layout.twig" %}
{% block title %} {{ title }} {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <br class="d-none d-lg-block">      
                <br class="d-none d-lg-block">
                <br class="d-none d-md-block">
                <br>
                <br>
                
                <!-- Jumbotron -->
                <div class="jumbotron">
                  
                    <div class="row">
                      <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                        <h1 class="mx-auto text-center"><i class="fas fa-lock"></i>&nbsp; Login System</h1> 
                        <p class="text-center">Sign-In or Sign-Up with:</p>
                        <div class="text-center">
                          <a class="btn btn-outline-secondary py-lg-2 px-lg-5" href="/u/signin" role="button"><i class="fas fa-user"></i>&nbsp; Sign In</a>
                          <a class="btn btn-outline-secondary py-lg-2 px-lg-5" href="/u/signup" role="button"><i class="fas fa-user"></i>&nbsp; Sign Up</a>
                    
                          
                        </div>
                      </div>
                    </div>
                  
                </div>
        </div>
    </div>
</div>
{% endblock body %}