{% extends "layout.twig" %}
{% block title %} {{ title }} {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                <br><br><br>
                <!-- Jumbotron -->
                <div class="jumbotron">
                  <div class="container">
                    <div class="row">
                      
                      <div class="col-md-8 offset-md-2">
                        <h1 class="mx-auto text-center"><i class="fa fa-lock"></i>&nbsp; Login System</h1> 
                        <p class="text-center">SignIn or SignUp with:</p>
                        <div class="text-center">
          
                          <a href="/u/signin">
                          <button type="button" class="btn btn-outline-secondary"><i class="fa fa-user"></i>&nbsp; SignIn</button>
                          </a>
                          <a href="/u/signup">
                          <button type="button" class="btn btn-outline-secondary"><i class="fa fa-user"></i>&nbsp; SignUp</button>
                          </a>
                          
                        </div>
                      </div>
                    
                    </div>
                  </div> 
                </div>
        </div>
    </div>
</div>
{% endblock body %}